<a class="gravity-link {{#if color}} gravity-link--{{ color }} {{/if}}  {{#if style}} link--{{ style }} {{/if}} {{ class }}" href="{{ href }}" {{#if target}} data-target="#{{ target }}"  {{/if}}>
{{ content }}
</a>