<div class="block" style="background-color: grey; padding: 30px">

<a class="link {{#if color}} link--{{ color }} {{/if}} {{#if style}} link--{{ style }} {{/if}} {{ class }}" href="{{ href }}">
	{{ content }}
</a>

</div>