{% set navigation = craft.entries.section('navigation').one() %}
{% set links = navigation.navigationLinks %}
{% set ctas = navigation.navigationCta %}

<nav class="desktop-navigation 	{% if class is defined %} {{ class }} {% endif %}  js-desktop-navigation">
		<a class="desktop-navigation__logo logo" href="/{{ currentSite.language }}">
			<img class="logo__image" src="/media/graphics/logos/logo-lautissimi.svg" alt="LAUTISSIMI"></img>
		</a>
		 
				<div class="desktop-navigation__link-wrapper">	
					{% for item in links.all() %}
						<a class="gravity-link desktop-navigation__link" href="/{{ currentSite.language }}/#{{ item.href }}" data-target="{{ item.target }}">
							{{ item.text }}
		  	    </a>	 
					{% endfor %}
		    </div>
{# 
				{% for item in ctas.all() %}	
		    	<a class="circle-link circle-link--arrow  desktop-navigation__button" href="/{{ currentSite.language }}/#{{ item.href }}"  data-target="{{ item.target }}">
						{{ item.text }}
					</a>
				{% endfor %} #}

				<span class="desktop-navigation__shortcuts shortcuts">
                    <a class="circle-link circle-link--arrow  shortcuts__button" href="footer">
                		{{ currentSite.handle == 'de' ? 'Kontakt' : 'Contact' }}
                    </a> 
					{# <a class="gravity-link    shortcuts__link" href="" data-target="#/en">
                        EN
                    </a>  #}
					<a class="gravity-link shortcuts__link" href="/{{ currentSite.language == 'de' ? 'en' : 'de' }}">
						{{ currentSite.language == 'de' ? 'EN' : 'DE' }}
                    </a>
				</span>
				
		</nav>