{% set footer = craft.entries.section('footer').one() %}
{% set links = footer.footerLinks %}

<footer class="footer section" id="footer">
    <div class="footer__inner section__inner">

				{% include "02_molecules/contact-form" %}
      
        <address class="footer__address address">
          <img class="address__logo" src="/media/graphics/logos/logo-lautissimi.svg" alt="LAUTISSIMI"></img>
					{% if contactDetails['contactDetailsCompany'] is defined %}
						<p class="paragraph  paragraph--white   address__item">
							{{ contactDetails.contactDetailsCompany }}
						</p>
					{% endif %}
					{% if contactDetails['contactDetailsStreet'] is defined %} 
						<p class="paragraph  paragraph--white   address__item">
							{{ contactDetails.contactDetailsStreet }}
						</p>
					{% endif %}
					{% if contactDetails['contactDetailsZip'] is defined and contactDetails['contactDetailsTown'] is defined %}
						<p class="paragraph  paragraph--white   address__item">
							{{ contactDetails.contactDetailsZip }}
							{{ contactDetails.contactDetailsTown }}
						</p> 
					{% endif %}
					{% if contactDetails['contactDetailsEmail'] is defined %}
						<a class="gravity-link  gravity-link--white    address__item" href="mailto:{{ contactDetails.contactDetailsEmail }}">
							{{ contactDetails.contactDetailsEmail }}
						</a> 
					{% endif %}
					<a class="address__item" href="https://www.hotelleriesuisse.ch/" target="_blank">
						<img src="/media/graphics/logos/logo-hotellerie-suisse.svg" alt="Hotellerie Suisse - Trusted Start-Up">
					</a>	
        </address>

        <div class="footer__links">
					{% if footer['footerCopyright'] is defined %}
						<p class="paragraph  paragraph--white   links__item">
							{{ footer.footerCopyright }}
						</p> 
					{% endif %}
					{% for item in links.all() %}
						<a class="gravity-link  gravity-link--white links__item" href="/{{ currentSite.language }}{{ item.href }}">
							{{ item.text }}
						</a> 
						{% endfor %}
						<a class="gravity-link  gravity-link--white links__item" href="/{{ currentSite.language == 'de' ? 'en' : 'de' }}">
							{{ currentSite.language == 'de' ? 'Englisch' : 'Deutsch' }}
            </a>

						{% if contactDetails['contactDetailsLinkedin'] %}
						<a class="links__item item" href="{{ contactDetails.contactDetailsLinkedin }}">
							<i class="item__icon icon icon--linkedin"></i>
						</a>
					{% endif %}
        </div>

				<div class="heading  heading--h2 heading--white footer__heading js-heading">
					{% if currentSite.language == 'de' %}
				    <h2 class="heading__title">Kontakt</h2>
					{% endif %}
			    <p class="heading__shadow">{{ footer['footerHeading'] is defined ? footer.footerHeading : '' }}</p>
			    <figure class="heading__line"></figure>
				</div>

				


    </div>
</footer>