{% set footer = craft.entries.section('footer').one() %}
{% set links = footer.footerLinks %}

<footer class="footer section" id="footer">
    <div class="footer__inner section__inner">

		{% include "02_molecules/contact-form" %}

        <address class="footer__address address">
            <img class="address__logo" src="/media/graphics/logos/logo-lautissimi.svg"></img>
            <a href="https://goo.gl/maps/dYHFNyzmofH7k3pZA" target="_blank">
                <p class="paragraph  paragraph--white   address__item">O&S Interior GmbH</p> 
            </a>
            <a href="https://goo.gl/maps/dYHFNyzmofH7k3pZA" target="_blank">
                <p class="paragraph  paragraph--white   address__item">Sumpfstrasse 32</p>
            </a>
            <a href="https://goo.gl/maps/dYHFNyzmofH7k3pZA" target="_blank">
                <p class="paragraph  paragraph--white   address__item">6312 Steinhausen ZG</p> 
            </a>
            <a class="gravity-link  gravity-link--white address__item" href="mailto:info@lautissimi.ch">
                info@lautissimi.ch
            </a>
					<img class="address__logo" src="/media/graphics/logos/logo-lautissimi.svg"></img>
					<a class=" address__logo-link" href="https://www.dom-gmbh.ch/" target="_blank">
						<img class="address__partner-logo" src="/media/graphics/logos/logo-dom.svg"></img>
					</a>
        </address>


        <div class="footer__links">
            {% if footer['footerCopyright'] is defined %}
                <p class="paragraph  paragraph--white   links__item">{{ footer.footerCopyright }}</p> 
            {% endif %}
            {% for item in links.all() %}
                <a class="gravity-link  gravity-link--white links__item" href="/{{ currentSite.language }}{{ item.href }}">{{ item.text }}</a> 
            {% endfor %}
            <a class="gravity-link  gravity-link--white links__item" href="/{{ currentSite.language == 'de' ? 'en' : 'de' }}">
                {{ currentSite.language == 'de' ? 'Englisch' : 'Deutsch' }}
            </a>
								<div class="links__social-media social-media">
								<a class="social-media__item" href="https://www.instagram.com/lautissimi/" target="_blank">
									<img class="social-media__icon icon icon--linkedi" src="/media/graphics/icons/icon-instagram.svg"></img>
								</a>
								<a class="social-media__item" href="https://www.linkedin.com/company/lautissimi/" target="_blank">
									<img class="social-media__icon icon icon--linkedi" src="/media/graphics/icons/icon-linkedin.svg"></img>
								</a>
							</div>
        </div>

				<img class="footer__label" src="/media/graphics/logos/logo-hotellerie-suisse.svg"/>

        <div class="heading  heading--h2 heading--white footer__heading js-heading">
            {% if currentSite.language == 'de' %}
                <h2 class="heading__title">Kontakt</h2>
            {% endif %}
            <p class="heading__shadow">{{ footer['footerHeading'] is defined ? footer.footerHeading : '' }}</p>
            <figure class="heading__line"></figure>
        </div>

    </div>
</footer>