{% set referenceOverview = craft.entries.section('referenceOverview').one() %}
{% set projects = referenceOverview.projects %}

<div class="reference-overview section">
    <div class="reference-overview__inner section__inner">
    
			<h1 class="heading  heading--h1   heading--white  reference-overview__heading">
        {{ referenceOverview.heading }}
      </h1>
			
			<div class="reference-overview__container">
			{% for item in projects.all() %}
					<div class="reference-overview__item item item--{{ item.projectSize }}">
						<img class="item__image" src="{{ item.projectPreviewImage.one().url() }}" alt="{{ item.parent.title }}">
						<h4 class="heading  heading--h4 heading--white  item__heading">{{ item.parent.title }}</h4>
					</div>
				{% endfor %}
			</div>

    </div>
</div>