{% set services = craft.entries.section('services').one() %}
{% set links = services.servicesCategories %}

<div class="services section js-services">
    <div class="services__inner section__inner">
        <h2 class="heading  heading--h2   services__heading">
            {{ services['servicesHeading'] is defined ? services.servicesHeading : 'bno'}}
        </h2>
        <div class="services__accordion accordion">
           
				{% for item in links %}
					<div class="accordion__item item {% if loop.first %} accordion__item--active {% endif %}" data-preview-image="{{ loop.index }}">
						<h3 class="heading  heading--h3   item__heading">
								{{ item.heading }} 
						</h3>
						<div class="item__content">
							<p class="paragraph   item__text">
								{{ item.text }}
							</p> 
							<img class="item__image" src="{{ item.image.one().url() }}" />
						</div>
					</div>	
				{% endfor %}

        </div>

        <div class="services__preview preview">
				{% for item in links %}
            <img class="preview__image {% if loop.first %} preview__image--active {% endif %}" data-preview-image="{{ loop.index }}" src="{{ item.image.one().url() }}" />
				{% endfor %}
        </div>

				<div class="services__teaser">				
					{{ services['servicesTeaser'] is defined ? services.servicesTeaser : 'bno'}}
				</div>
    </div>
</div>